<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href='/stylesheets/estillo.css'>
    <title>Hello, world!</title>
</head>

<body>
    <div class="menu-button">
        <button type="button"><a href="http://localhost:3000/home">Home</a></button>
    </div>
    <!--Modal Alterar -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alterar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="card-group">
                        <form id='modal-formulario' action="#" method="POST">
                            <div class="modal-label">
                                <label>NOME</label>
                                <input id="NOME-ALTERA" type="text" name="NOME">
                            </div>

                            <div class="modal-label">
                                {{!-- <label>CARTAO USUARIO</label> --}}
                                <input id="CARTAO-USUARIO-ALTERA" type="text" name="CARTAO USUARIO" style=display:none>
                            </div>
                            <div class="modal-label">
                                <label>CARGO</label>
                                <input id="CARGO-ALTERA" type="text" name="CARGO">
                            </div>
                            <div class="modal-label">
                                <label>SENHA</label>
                                <input id="SENHA-ALTERA" type="text" name="SENHA">
                            </div>
                            <div class="modal-label">
                                <label>ATRIBUICAO</label>
                                <input id="ATRIBUICAO-ALTERA" type="text" name="ATRIBUICAO">
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> --}}
                    <button id="confirmar" type="button" class="btn btn-success">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal PESQUISAR -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pesquisa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="card-group">
                        <form id='modal-formulario' action="#" method="POST">
                            <div class="modal-label">
                                <label>NOME</label>
                                <input id="NOME" type="text" name="NOME">
                            </div>

                            <div class="modal-label">
                                <label>CARTAO USUARIO</label>
                                <input id="CARTAO-USUARIO" type="text" name="CARTAO USUARIO">
                            </div>
                            <div class="modal-label">
                                <label>CARGO</label>
                                <input id="CARGO" type="text" name="CARGO">
                            </div>
                            <div class="modal-label">
                                <label>SENHA</label>
                                <input id="SENHA" type="text" name="SENHA">
                            </div>
                            <div class="modal-label">
                                <label>ATRIBUICAO</label>
                                <input id="ATRIBUICAO" type="text" name="ATRIBUICAO">
                            </div>


                    </div>
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> --}}
                    <button id="pesquisar" type="button" class="btn btn-success">Pesquisar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="formulario">
            <h1 class="title">CADASTRAR USUARIO</h1>
            <div class="row">
                <form id="form-cadastro" action="#" method="POST">
                    <div class="col">

                        <label>NOME</label>
                        <input id="nome-cadastro" type="text" class="form-control" name="NOME">
                    </div>
                    <div class="col">
                        <label>NUMERO CARTAO</label>
                        <input id="numero-cartao" type="text" class="form-control" name="NUMERO CARTAO">
                    </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>CARGO</label>
                    <input id="cargo-cadastro" type="text" class="form-control" name="CARGO">
                </div>
                <div class="col">
                    <label>SENHA</label>
                    <input id="senha-cadastro" type="text" class="form-control" name="SENHA">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>ATRIBUICAO</label>
                    <input id="atribuicao-cadastro" type="text" class="form-control" name="ATRIBUICAO">
                </div>

            </div>

            <div class="col-6">
                <button id="cadastrar" type="submit" class="btn btn-success">
                    Cadastrar
                </button>
            </div>
            </form>
            <div class="col-6">
                <button id="pesquisar" type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Pesquisa
                </button>
            </div>

        </div>
    </div>
    <div class="pesquisa">
        <table id="table" style="width:100%">
            <tr>
                <th>NOME</th>
                <th>NUMERO CARTAO</th>
                <th>CARGO</th>
                <th>SENHA</th>
                <th>ATRIBUICAO</th>
            </tr>


        </table>
    </div>
    </div>
    <script>
        document.getElementById('form-cadastro').addEventListener('submit', (evt) => {
            evt.preventDefault();

            const nome = document.getElementById('nome-cadastro').value;
            const numero_cartao = document.getElementById('numero-cartao').value;
            const cargo = document.getElementById('cargo-cadastro').value;
            const senha = document.getElementById('senha-cadastro').value;
            const atribuicao = document.getElementById('atribuicao-cadastro').value;


            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
                nome: nome,
                numero: numero_cartao,
                cargo: cargo,
                senha: senha,
                nivel: atribuicao
            });

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("http://localhost:3000/cadastrar/usuario", requestOptions)
                .then(response => response.json())
                .then(result => {
                    console.log(result)
                    let x = confirm(result.msg)
                 
                });
        })

        document.getElementById('pesquisar').addEventListener('click', (evt) => {

            const nome = document.getElementById('NOME').value;
            const cartao = document.getElementById('CARTAO-USUARIO').value;
            const cargo = document.getElementById('CARGO').value;
            const senha = document.getElementById('SENHA').value;
            const atribuicao = document.getElementById('ATRIBUICAO').value;
            const tabela = document.getElementById('table')

            const modalAlterar = (nome, cartao, cargo, senha, nivel) => {
                document.getElementById('NOME-ALTERA').value = nome;
                document.getElementById('CARTAO-USUARIO-ALTERA').value = cartao;
                document.getElementById('CARGO-ALTERA').value = cargo;
                document.getElementById('SENHA-ALTERA').value = senha;
                document.getElementById('ATRIBUICAO-ALTERA').value = nivel;
            }

            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
                NOME: nome,
                NUMERO_CARTAO: cartao,
                CARGO: cargo,
                SENHA: senha,
                ATRIBUICAO: atribuicao,
            });

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("http://localhost:3000/usuario/pesquisa", requestOptions)
                .then(response => response.json())
                .then(result => {
                    result.forEach((data) => {
                        console.log(data);
                        table.innerHTML += `<tr>
                    <td>${data.NOME_USUARIO}</td>
                    <td>${data.CARTAO_USUARIO}</td>
                    <td>${data.CARGO_USUARIO}</td>
                    <td>${data.SENHA_USUARIO}</td>
                    <td>${data.NIVEL_USUARIO}</td>
                    <td>  <button onclick = ${modalAlterar(data.NOME_USUARIO,data.CARTAO_USUARIO,data.CARGO_USUARIO,data.SENHA_USUARIO,data.NIVEL_USUARIO)} id="pesquisar" type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModal2">
                        Alterar
                    </button></td>

                </tr>`
                    })
                })
                .catch(error => console.log('error', error));
        })







        document.getElementById('confirmar').addEventListener('click', () => {


            let nome = document.getElementById('NOME-ALTERA').value;
            let cartao = document.getElementById('CARTAO-USUARIO-ALTERA').value;
            let cargo = document.getElementById('CARGO-ALTERA').value;
            let senha = document.getElementById('SENHA-ALTERA').value;
            let atribuicao = document.getElementById('ATRIBUICAO-ALTERA').value;

            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
                NOME: nome,
                NUMERO_CARTAO: cartao,
                CARGO: cargo,
                SENHA: senha,
                ATRIBUICAO: atribuicao,
            });

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("http://localhost:3000/usuario/alterar", requestOptions)
                .then(response => response.json())
                .then(result => {
                    alert(result.msg);
                })

                .catch(error => console.log('error', error));


        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>

</html>