<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{!-- <meta name="viewport" content="width=, initial-scale=1.0"> --}}
    <title>ANARI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <form id="form" class="form" method="Post " action="/home">
        <div class="card">
            <div class="card-top">
                <h1 class="title">ALMOXARIFADO</h1>
                <p class="log">ENTRE ALMOXARIFADO</p>
            </div>

            <div class="card-group">
                <label>usuário</label>
                <input id="usuario" type="text" placeholder="digite num cartão" required>
            </div>

            <div class="card-group">
                <label>senha</label>
                <input id="senha" type="password" name="senha"
                    placeholder="digite sua senha" required>
            </div>
            {{#if mensagem}}
            <div class="card-group">
                {{mensagem}}
            </div>
            {{/if}}
            <div class="card-group">
                <button id="button" >ENTRE</button>
            </div>
            <div>
                </form>
                <script>
            document.getElementById('form').addEventListener('submit', (evt) => {
                        evt.preventDefault();
                        const usuario = document.getElementById("usuario").value;
                        const senha = document.getElementById("senha").value;

                        var myHeaders = new Headers();
                        myHeaders.append("Content-Type", "application/json");

                        var raw = JSON.stringify({
                            'user':usuario,
                            'senha':senha
                        });

                        var requestOptions = {
                            method: 'POST',
                            headers: myHeaders,
                            body: raw,
                            redirect: 'follow'
                        };

                        fetch("http://localhost:3000/login", requestOptions)
                            .then(response => response.json()
                            )

                            .then(result => {
                                
                               if(result.erro){
                                   alert('usuario ou senha inválidos');
                                   
                               }else{

                                  
                                   sessionStorage.setItem("nome_usuario",result.NOME_USUARIO);
                                   sessionStorage.setItem("cartao_usuario",result.CARTAO_USUARIO);
                                   sessionStorage.setItem("cargo_usuario",result.CARGO_USUARIO);
                                   sessionStorage.setItem("nivel_usuario",result.NIVEL_USUARIO);
                                   window.location.href="http://localhost:3000/home"
                               }
                            })
                            .catch(error => console.log('error', error));
                    })
                </script>
</body>

</html>