<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href='/stylesheets/estillo.css'>
    <title>Hello, world!</title>
</head>

<body>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Produto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div id="card" class="card-group">

                    </div>
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> --}}
                    <button id="registra" type="button" class="btn btn-success">Registra</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="formulario">
            <h1 class="title">SAIDA PRODUTO</h1>
            <div class="row">
                <form id="formulario" action="#" method="post">
                    <div class="input-group mb-3">
                        <input id="codigo" type="number" class="form-control" placeholder="Código do produto" required>

                    </div>
                    <div>
                        <label>Quantidade</label>
                        <input id="quantidade" class="form-control" type="number" placeholder="Quantidade" required>
                    </div>
            </div>

            <div class="col-6">
                <button id="confirma" type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Confirma
                </button>
            </div>
            </form>
            <div class="col-6">
                <button id="pesquisar" type="button" class="btn btn-success">
                    Pesquisa
                </button>
            </div>

        </div>
    </div>
    <div class="pesquisa">
        <table id="table" style="width:100%">
            <tr>
                <th>CATEGORIA</th>
                <th>TIPO</th>
                <th>TAMANHO</th>
                <th>GENERO</th>
                <th>FORNECEDOR</th>
                <th>QUANTIDADE</th>
            </tr>


        </table>
    </div>
    </div>
    <script>
        document.getElementById('confirma').addEventListener('click', () => {

            const codigo = document.getElementById('codigo').value;
            const quantidade = document.getElementById('quantidade').value;
            if (!codigo || !quantidade) {
                alert("preencha os camps corretamente")
                window.location.reload();
            } else {


                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    COD_PRODUTO: codigo,
                    QUANTIDADE: quantidade
                });

                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };



                fetch("http://localhost:3000/cadastro/produto/pesquisa", requestOptions)
                    .then(response => response.json())
                    .then(result => {


                        document.getElementById('card').innerHTML +=
                            `
                        <div class= col>
                        <p>CATEGORIA_PRODUTO: ${result[0].CATEGORIA_PRODUTO}</p>
                        <p>COD_FORNECEDOR: ${result[0].COD_FORNECEDOR}</p>
                        <p>COD_PRODUTO: ${result[0].COD_PRODUTO}</p>
                        <p>DEPARTAMENTO_PRODUTO:${result[0].DEPARTAMENTO_PRODUTO}</p>
                        <p>GENERO_PRODUTO:${result[0].CATEGORIA_PRODUTO}</p>
                        <p>TAMANHO_PRODUTO: ${result[0].TAMANHO_PRODUTO}</p>
                        <p>TIPO_PRODUTO: ${result[0].TIPO_PRODUTO}</p>
                        <h5>QUANTIDADE DE SAIDA: ${quantidade}</h5>
                        </div>
                        `
                    })


            }
        });


        document.getElementById('registra').addEventListener('click', () => {
            const codigo = document.getElementById('codigo').value;
            const quantidade = document.getElementById('quantidade').value;
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            var raw = JSON.stringify({

                COD_PRODUTO: codigo,
                QUANTIDADE_PRODUTO: quantidade,
                CARTAO_USUARIO: sessionStorage.getItem('cartao_usuario')
                            });

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("http://localhost:3000/produtos/saida", requestOptions)
                .then(response => response.json())
                .then(result => {
                    console.log(result)
                })
                .catch(error => console.log('error', error));
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>

</html>